{% extends 'base.html' %}}
 
 
{% block title %}Save File to db{%endblock%}


{% block content %}

 
 

   <form method="POST" action="/image/upload" enctype="multipart/form-data">
       <!-- File Upload-->
       <div class="form-group">
           <label for="inputFile">File input</label>
           <input class="form-control-file" type="file" name="inputFile">
       </div>

       <!-- Location -->
       <div class="form-group">
           <label for="location">Location</label>
           <input class="form-control" type="text" name="location">
       </div>

       <!-- Text -->
       <div class="form-group">
           <label for="text">Write Text</label>
           <textarea class="form-control" name="text" id="text" rows="5" placeholder="Add a Description"></textarea>
       <br/>
        
       <input type="submit" class="form-control  btn btn-primary" value="Salvar Tudo okay" name="btnsaver">
       

{% endblock %}

 